* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*to avoid overflows*/
}

.logo {
	width: 140px;
	height: 140px;
	background-color: #666A86; /*shadow blue*/
	margin: 0 auto;
}


ul > li {
	list-style: none;
	background-color: #92B6B1; /*cadet grey*/
	margin-bottom: 2px;
	line-height: 48px;
	text-align: center;
}

ul > li > a {
	text-decoration: none;
	
}


.banner {
	background-color: #666A86; /*shadow blue*/
	height: 700px;
	position: relative;
}

.about {
	background-color: #92B6B1; /*cadet grey*/
	height: 700px;
}

.services {
	background-color: #666A86; /*shadow blue*/
	height: 300px;
}

.projects {
	background-color: #92B6B1; /*cadet grey*/
	height: 300px;
}

.gallery {
	background-color: #666A86; /*shadow blue*/
	height: 400px;
}


.banner,
.about,
.services,
.projects,
.gallery {
	padding: 30px;
}


nav	{
	padding: 30px;
	background-color: #FFF; 
	height: 100%;
	width: 200px;
	position: fixed;
}

main {
	background-color: #666A86; /*shadow blue*/
	margin-left: 200px;
}

footer {
	padding: 30px;
	background-color: #92B6B1; /*cadet grey*/
	height: 50px;
}

.box {
	border: 5px solid #FFFFFF;
	text-align: center;
	width: 40%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1, h2 { 
	color: white; 
}